#login-page {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;

    .login-container {
        height: 150px;
        text-align: center;

        h1 {
            font-family: 'Lobster', cursive;
            font-size: 75px;

            text-shadow: 0 10px 10px rgba(0,0,0,0.5);
        }
    }
}
