<div class="flex flex-col">
  @for (row of minesweeper.cells; let rowIndex = $index; track rowIndex) {
    <div class="flex">
      @for (cell of row; let colIndex = $index; track colIndex) {
        <button (click)="onClick(cell.x, cell.y)" (contextmenu)="onRightClick($event, cell.x, cell.y)">
          @if (cell.mine) {
            <img
              ngSrc="assets/sprites/win_95/sprite_mine.png"
              [alt]="'row_' + rowIndex + '_col_' + colIndex + '_mine'"
              height="16"
              width="16"
              class="pixelated h-8 w-8"
            />
          } @else if (cell.flagged) {
            <img
              ngSrc="assets/sprites/win_95/sprite_flag.png"
              [alt]="'row_' + rowIndex + '_col_' + colIndex + '_flag'"
              height="16"
              width="16"
              class="pixelated h-8 w-8"
            />
          } @else if (cell.mineCount) {
            <img
              [ngSrc]="'assets/sprites/win_95/sprite_' + cell.mineCount + '.png'"
              [alt]="'row_' + rowIndex + '_col_' + colIndex + '_mine-count_' + cell.mineCount"
              height="16"
              width="16"
              class="pixelated h-8 w-8"
            />
          } @else if (cell.blank) {
            <img
              ngSrc="assets/sprites/win_95/sprite_blank_pressed.png"
              [alt]="'row_' + rowIndex + '_col_' + colIndex + '_blank-pressed'"
              height="16"
              width="16"
              class="pixelated h-8 w-8"
            />
          } @else {
            <img
              ngSrc="assets/sprites/win_95/sprite_blank.png"
              [alt]="'row_' + rowIndex + '_col_' + colIndex + '_blank'"
              height="16"
              width="16"
              class="pixelated h-8 w-8"
            />
          }
        </button>
      }
    </div>
  }
</div>

<div>winning state: {{ minesweeper.isWinState }}</div>

<div>mines: {{ minesweeper.mines.size - minesweeper.flaggedFields.size }}</div>

<div class="flex gap-x-4">
  <button (click)="startBeginnerGame()">Beginner</button>
  <button (click)="startIntermediateGame()">Intermediate</button>
  <button (click)="startExpertGame()">Expert</button>
</div>
