<div class="flex justify-between">
  <app-mine-counter [mines]="mines().size - flaggedFields().size" />

  <app-reset-button
    [tick]="openedTick()"
    [isWinState]="isWinState()"
    [isLostState]="isLostState()"
    (clicked)="restart()"
  />

  <app-time-counter />
</div>

<div class="flex flex-col">
  @for (row of cells(); let rowIndex = $index; track rowIndex) {
    <div class="flex">
      @for (cell of row; let colIndex = $index; track colIndex) {
        <button (click)="onClick($event, cell.x, cell.y)" (contextmenu)="onRightClick($event, cell.x, cell.y)">
          @switch (cell.type) {
            @case (cellTypes.blank) {
              <img
                ngSrc="sprites/win_95/sprite_blank.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_blank'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.blankPressed) {
              <img
                ngSrc="sprites/win_95/sprite_blank_pressed.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_blank-pressed'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.flag) {
              <img
                ngSrc="sprites/win_95/sprite_flag.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_flag'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.mine) {
              <img
                ngSrc="sprites/win_95/sprite_mine.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_mine'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.mineRed) {
              <img
                ngSrc="sprites/win_95/sprite_mine_red.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_mine'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.question) {}
            @case (cellTypes.questionPressed) {}
            @case (cellTypes.x) {
              <img
                ngSrc="sprites/win_95/sprite_x.png"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_flag'"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
            @case (cellTypes.count) {
              <img
                [ngSrc]="'sprites/win_95/sprite_' + cell.mines + '.png'"
                [alt]="'row_' + rowIndex + '_col_' + colIndex + '_mine-count_' + cell.mines"
                height="16"
                width="16"
                class="pixelated h-8 w-8"
              />
            }
          }
        </button>
      }
    </div>
  }
</div>

<div class="flex gap-x-4">
  <button (click)="startBeginnerGame()">Beginner</button>
  <button (click)="startIntermediateGame()">Intermediate</button>
  <button (click)="startExpertGame()">Expert</button>
</div>
