#navigation {

    background: rgb(96, 122, 178); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#607ab2', endColorstr='#b107f4', GradientType=0); /* IE6-9 */

    -webkit-box-shadow: 0px 10px 26px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 26px -11px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 26px -11px rgba(0, 0, 0, 0.5);

    .navbar {
        padding: 0 1rem !important;

        .navbar-brand {
            font-family: 'Lobster', cursive;
            font-size: 25px;
            padding: 0 !important;
        }

        .dropdown {
            display: inline-table;

            .profile-pic-container {
                cursor: pointer;

                .profile-pic {
                    width: 38px;
                    height: 38px;
                    border-radius: 30px;
                    margin: 0 10px;
                    border: 1px solid rgba(255, 255, 255, 0.31);
                }
            }
        }

        .nav-item {
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;

            &.active {
                background-color: rgba(255, 255, 255, 0.07);
                border-bottom: 2px solid #ffffff;
            }
        }

        .dropdown-toggle::after {
            display: none !important;
        }
    }
}
