<section id="navigation" class="bg-gradient">
    <nav class="navbar navbar-toggleable-sm navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/dashboard">P.P.</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div *ngIf="!selectedProject" class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a *ngIf="isAdmin()" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </div>
            <div *ngIf="selectedProject" class="navbar-nav">
                <a class="nav-item nav-link" routerLink="{{selectedProject.route}}" routerLinkActive="active">{{selectedProject.name}}</a>
            </div>
        </div>
        <div ngbDropdown class="dropdown">
            <div id="dropdownBasic1" ngbDropdownToggle>
                <div class="profile-pic-container">
                    <i class="fa fa-caret-down fa-inverse"></i>
                    <img [src]="getProfilePictureUrl()" class="profile-pic">
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="onLogout()">Logout</button>
            </div>
        </div>
    </nav>
</section>
