<section id="navigation">
    <nav class="navbar navbar-toggleable-sm navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/dashboard">PP</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a *ngIf="isAdmin()" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </div>
        </div>
        <button class="btn btn-sm btn-secondary" (click)="onLogout()">logout</button>
        <img [src]="getProfilePictureUrl()" class="profile-pic">
    </nav>
</section>
