/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Droid Serif', serif !important;
}

.bg-gradient {
    background: rgb(96, 122, 178); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(96, 122, 178, 1) 0%, rgba(177, 7, 244, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#607ab2', endColorstr='#b107f4', GradientType=0); /* IE6-9 */
}
